main {
    width: 100%;
    max-width: 940px; 
    margin: 0 auto;
    padding: 0 20px; 
}

form {
    margin: 40px 0;
    padding: 20px; 
    background-color: #f8f8f8; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

form label, form legend{
    font-family: "Tajawal";
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
}

.input-padron{
    border-radius: 12px;
    font-style: italic;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

fieldset select{
    margin-bottom: 8px;
}

.enviar{
    width: 60%;
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #000000;
    box-shadow: 1px 7px 8px rgb(34, 33, 33);
    border: none;
    border-radius: 7px;
    transition: 1s all;
    cursor: pointer;
    margin-top: 15px;
    font-family: "Open Sans";
}

.enviar:hover{
    background: rgb(24, 150, 150);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}


@media only screen and (max-width: 600px) {
    main {
        padding: 0 10px; 
    }
    
    form {
        padding: 10px; 
    }
}